---
permalink: /
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="title" content="Sismo Septiembre 19, 2017">
    <meta name="description" content="¿Qué hacer?">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@politeiamx" />
    <meta name="twitter:title" content="Teléfonos de servicios de emergencia en CDMX" />
    <meta name="twitter:description" content="Cruz Roja, Locatel, Protección Civil, etc." />

    <meta property="og:title" content="Teléfonos de servicios de emergencia en CDMX" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.github.url }}" />

    <title>Teléfonos de servicios de emergencia en CDMX</title>

    <link rel="stylesheet"
          type="text/css"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Merriweather:400,700">

    <link rel="stylesheet"
          href="{{ site.github.url }}/assets/css/main.css">

    <style type="text/css">

    </style>
  </head>
  <body class="body" id="inicio">
    <h1 class="heading--1">Emergencias</h1>
    <h2 class="heading--2">¿Qué necesitas?</h2>

    <nav class="nav">
      <a href="#servicios-de-emergencia" class="button button--main">
        <h2 class="heading--3 button__heading">Llamar a los servicios de emergencia en CDMX</h2>
      </a>
      <a href="#localizadores-de-personas" class="button button--main">
        <h2 class="heading--3 button__heading">Buscar a una persona o proporcionar información sobre
          alguien</h2>
      </a>
      <a href="#evaluacion-daño-construcciones" class="button button--main">
        <h2 class="heading--3 button__heading">Evaluar los daños de una construcción</h2>
      </a>
      <a href="#aportaciones-monetarias" class="button button--main">
        <h2 class="heading--3 button__heading">Hacer una aportación monetaria</h2>
      </a>
      <a href="#mapas" class="button button--main">
        <h2 class="heading--3 button__heading">Saber la ubicación de brigadas, edificios en riesgo y
          colapsados, centros de acopio y albergues</h2>
      </a>
      <a href="#ayuda-psicologica-gratuita" class="button button--main">
        <h2 class="heading--3 button__heading">Obtener ayuda psicológica gratuita</h2>
      </a>
    </nav>

    <section class="section" id="servicios-de-emergencia">
      <h3 class="heading--3">Servicios de emergencia en CDMX</h3>

      {% for emergencyService in site.data.emergencyServices %}
      <div class="subsection">
        <h4 class="heading--4">{{ emergencyService.label }}</h4>

        <ul class="button-list">
          {% for phone in emergencyService.phones %}
          <li class="button-list__item">
            <a href="tel:{{ phone }}" class="button"><i class="fa fa-phone"></i> {{ phone }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </section>

    <section class="section" id="localizadores-de-personas">
      <h3 class="heading--3">Localizadores de personas</h3>

      <div class="subsection">
        <ul class="button-list">
          {% for personFinderTool in site.data.personFinderTools %}
          <li class="button-list__item">
            <a href="{{ personFinderTool.url }}" class="button">{{ personFinderTool.label }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="section" id="evaluacion-daño-construcciones">
      <h3 class="heading--3">Evaluación de daños en construcciones</h3>

      <p>Si la edificación presenta grietas en diagonal (45 grados), escalonadas, profundas y son visibles
        los ladrillos, desaloja y llama a Protección Civil de inmediato.</p>

      <p>
        <a href="https://twitter.com/TravelReportMX/status/910309031851544576" class="link" target="_blank">
          <i class="fa fa-photo"></i> Ejemplo 1</a>
        <a href="https://twitter.com/maucastilloa/status/910500514537775104" class="link" target="_blank">
          <i class="fa fa-photo"></i> Ejemplo 2</a>
      </p>

      <div class="subsection">
        <ul class="button-list">
          {% for damageEvaluation in site.data.damageEvaluations %}
          <li class="button-list__item">
            <a href="https://twitter.com/{{ damageEvaluation.user }}"
               class="button"
               target="_blank">
              <i class="fa fa-twitter"></i> {{ damageEvaluation.label }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="section" id="aportaciones-monetarias">
      <h3 class="heading--3">Aportaciones monetarias</h3>

      <div class="subsection">
        <ul class="button-list">
          {% for monetaryContribution in site.data.monetaryContributions %}
          <li class="button-list__item">
            <a href="{{ monetaryContribution.url }}"
               class="button"
               target="_blank">
              {{ monetaryContribution.label }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="section" id="mapas">
      <h3 class="heading--3">Mapas de brigadas, edificios en riesgo y colapsados, centros de acopio y
        albergues</h3>

      <div class="subsection">
        <ul class="button-list">
          {% for map in site.data.maps %}
          <li class="button-list__item">
            <a href="{{ map.url }}"
               class="button"
               target="_blank">
              {{ map.label }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="section" id="ayuda-psicologica-gratuita">
      <h3 class="heading--3">Servicios de ayuda psicológica gratuita</h3>

      <div class="subsection">
        <ul class="button-list">
          {% for psychologicalHelpSource in site.data.psychologicalHelpSources %}
          <li class="button-list__item">
            <a
              {% if psychologicalHelpSource.tel %}href="tel:{{ psychologicalHelpSource.tel }}"
              {% else %}href="{{ psychologicalHelpSource.url }}"
              {% endif %}
               class="button"
               target="_blank">
              {% if psychologicalHelpSource.tel %}
              <i class="fa fa-phone"></i>
              {% else %}
              <i class="fa fa-globe"></i>{% endif %}
              {{ psychologicalHelpSource.label }}{% if psychologicalHelpSource.tel %}: {{ psychologicalHelpSource.tel }}{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <footer>
      Si la información es incorrecta, o quieres agregar algo, repórtalo a
      <a href="mailto:eduardogarcia.xyz@gmail.com" class="link">eduardogarcia.xyz@gmail.com</a>
    </footer>

    <a href="#inicio" class="home-button"><i class="fa fa-fw fa-arrow-circle-up"></i></a>
  </body>
</html>
