* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

.heading--1, .heading--2, .heading--3, .heading--4 {
  font-family: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading--1, .heading--2 {
  text-align: center;
}

.heading--1 {
  font-size: 1.75em;
  margin: .75em 0;
}

.heading--2 {
  font-size: 1.5em;
  margin: .625em 0;
}

.heading--3 {
  font-size: 1.25em;
  margin: .5em 0;
}

.heading--4 {
  font-size: 1.125em;
  margin: .375em 0;
}

.nav {
  margin-bottom: 3em;
}

.section {
  margin-bottom: 2em;
  padding: .5em .5em;
}

.section:target {
  background-color: #fff9c4; /* Material Yellow 100 */
}

.subsection {
  margin-bottom: .75em;
}

.button-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.button-list__item {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: .5em;
}

.button {
  display: inline-block;
  padding: .5em;
  margin-bottom: .25em;
  text-decoration: none;
  color: #2196f3; /* Material Blue 500 */
  border: 3px solid #2196f3; /* Material Blue 500 */
  border-radius: .5em;
}

.button--main {
  display: block;
  margin-bottom: .5em;
  padding-top: .75em;
  padding-bottom: .75em;
  line-height: 1.75em;
  text-align: center;
}

.button__heading {
  margin: 0;
}

.link {
  padding: .25em;
}

.home-button {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 3em;
  color: #1976d2; /* Material Blue 700 */
}
