* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading--1, .heading--2, .heading--3 {
  font-family: "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading--3 {
  margin: .5em 0;
}

.section {
  margin-bottom: 2em;
}

.subsection {
  margin-bottom: 1em;
}

.button-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.button-list__item {
  display: inline-block;
  margin-right: .5em;
}

.button {
  display: inline-block;
  padding: .5em;
  margin-bottom: .25em;
  text-decoration: none;
  color: #2196f3; /* Material Blue 900 */
  border: 3px solid #2196f3; /* Material Blue 900 */
  border-radius: .5em;
}
